     /**
      * Page Styles
      */

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  position: relative;
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

body {
  margin: 0 auto;
  min-width: 1200px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  font-family: "Arial", sans-serif;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Button Styles
 */

.btn {
  font-size: 16px;
  line-height: 23px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 22px;
  border: 1px solid #cccccc;
  cursor: pointer;
}

/**
 * Page Header Styles
 */

.page-header {
  padding: 60px 200px;
  color: white;
  background: #834700 url("../img/background.jpg") no-repeat center;
  background-size: 100%;
}

/* .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.page-header__logo {
  float: left;
}

.main-logo {
  width: 140px;
  height: 76px;
}

.main-logo img {
  width: 140px;
  height: 76px;
}

/**
 * Main Navigation Styles
 */

.main-nav {
   margin-top: 13px;
   float: right;
 }

.main-nav__list {
  margin: 0;
  padding: 17px 0 16px;
  list-style: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-color: rgba(255, 255, 255, 0.3);
}

.main-nav__item {
  display: inline-block;
  vertical-align: middle;
  padding-right: 51px;
  font-size: 16px;
  line-height: 23px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav__item:last-of-type {
  padding-right: 0;
}

.main-nav__link {
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.main-nav__link span {
  position: relative;
  display: inline-block;
  transition: transform 0.3s;
}

.main-nav__link span::before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  color: #ffcb78;
  transform: translate3d(0, 0, 0);
}

.main-nav__link:hover span {
  transform: translateY(-100%);
}

.main-nav__link:active span::before {
  color: rgba(255, 255, 255, 0.5);
}

.promo-slider {
  margin: 122px auto 95px;
  padding-right: 3px;
  font-size: 70px;
  line-height: 70px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-align: center;
  color: white;
}

.promo-slider__input {
  position: absolute;
  opacity: 0;
}

.promo-slider__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo-slider__item {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.promo-slider__title {
  margin: 0;
  padding: 0 100px;
  font-size: 70px;
  line-height: 70px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-align: center;
  color: white;
  text-shadow: 0 0 30px #834700;
}

.promo-slider__toggles {
  position: absolute;
  bottom: -200px;
  left: 50%;
  margin: 0 auto;
  margin-top: 65px;
  display: flex;
  justify-content: center;
  transform: translate(-50%);
}

.promo-slider__toggle {
  margin: 0 10px;
  width: 7px;
  height: 7px;
  font-size: 0;
  text-align: center;
  color: white;
  background-color: #cccccc;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.2s;
  cursor: pointer;
}

#promo-input-1:checked ~ .promo-slider__toggles label[for="promo-input-1"],
#promo-input-2:checked ~ .promo-slider__toggles label[for="promo-input-2"],
#promo-input-3:checked ~ .promo-slider__toggles label[for="promo-input-3"] {
  background-color: white;
}

.promo-slider__item {
  display: none;
}

#promo-input-1:checked ~ .promo-slider__list .promo-slider__item:nth-of-type(1) {
  display: block;
}

#promo-input-2:checked ~ .promo-slider__list .promo-slider__item:nth-of-type(2) {
  display: block;
}

#promo-input-3:checked ~ .promo-slider__list .promo-slider__item:nth-of-type(3) {
  display: block;
}

/**
 * New Items Styles
 */

.new-items {
  width: 1200px;
  margin: 0 auto;
  padding: 90px 200px 113px;
  color: black;
  background-color: white;
}

.new-items__title {
  margin: 0;
  margin-bottom: 80px;
  font-size: 40px;
  line-height: 47px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  color: black;
}

.bottle-item {
  width: 400px;
  position: relative;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-collapse: collapse;
}

.bottle-item__title {
  position: relative;
}

.bottle-item__title::after {
  content: "";
  left: 0;
  bottom: 0;
  position: absolute;
  width: 300px;
  height: 1px;
  background-color: #cccccc;
}

.bottle-item--left {
  float: left;
  border-right: none;
}

.bottle-item--right {
  float: right;
}

.bottle-item__stats {
  width: 175px;
  position: absolute;
  right: 0;
  top: 95px;
}

.bottle-item__alc,
.bottle-item__cal {
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 23px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.bottle-item__cal {
  padding-bottom: 13px;
  border-bottom: 1px solid #cccccc;
}

.bottle-item--left .bottle-item__alc span {
  margin-left: 45px;
}

.bottle-item--left .bottle-item__cal span {
  margin-left: 35px;
}

.bottle-item--right .bottle-item__alc span {
  margin-left: 35px;
}

.bottle-item--right .bottle-item__cal span {
  margin-left: 25px;
}

.bottle-item__ingredients {
  padding-top: 20px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  font-family: "Arial", sans-serif;
  color: #000000;
}

.bottle-item__img {
  margin: 30px 40px;
  margin-bottom: 5px;
  width: 319px;
  height: 459px;
}

.bottle-item__title {
  margin: 0;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 6px;
  font-size: 40px;
  line-height: 47px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  color: black;
}

.bottle-item__desc {
  margin: 0;
  margin-left: 30px;
  margin-right: 52px;
  margin-bottom: 55px;
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
  font-family: "Arial", sans-serif;
  color: black;
}

.bottle-item__buttons {
  margin-left: 30px;
}

.bottle-item__btn-more {
  float: left;
  margin-right: 5px;
  color: #834700;
  box-shadow: inset 0 0 0 2px #834700;
}

.bottle-item__btn-more:hover {
  color: #6a3900;
  box-shadow: inset 0 0 0 2px #6a3900;
}

.bottle-item__btn-more:active {
  color: #cccccc;
  box-shadow: inset 0 0 0 2px #d2c3b2;
}

.bottle-item__btn-buy {
  float: left;
  margin-right: 28px;
  color: white;
  background-color: #834700;
  transition: transform 0.3s;
}

.bottle-item__btn-buy:hover {
  color: white;
  background-color: #6a3900;
}

.bottle-item__btn-buy:active {
  color: #cccccc;
}

.bottle-item__price {
  float: left;
  margin-top: 15px;
  font-size: 16px;
  line-height: 23px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

/**
 * Features Styles
 */

.features {
  padding: 80px 0;
  color: black;
  background-color: #ffcb78;
}

.features__container {
  width: 1020px;
  margin: 0 auto;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features__item {
  width: 215px;
  float: left;
  margin-left: 186px;
  margin-right: 186px;
  padding-top: 96px;
  /* border-right: 1px solid black;
  border-color: rgba(0, 0, 0, 0.1); */
}

.features__item:first-of-type,
.features__item:last-of-type {
  margin: 0;
}

.features__title {
  position: relative;
  margin: 0;
  padding-bottom: 24px;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  color: black;
}

.features__title::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -100px;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
}

.features__title--cook::before {
  width: 52px;
  height: 70px;
  background-position: -35px -5px;
}

.features__title--native::before {
  width: 48px;
  height: 67px;
  background-position: -97px -5px;
}

.features__title--quality::before {
  width: 65px;
  height: 60px;
  background-position: -97px -82px;
}

.features__desc {
  margin: 0;
  font-size: 16px;
  line-height: 32px;
  font-weight: normal;
  font-family: "Arial", sans-serif;
  color: black;
}

/**
 * History Styles
 */

.history {
  width: 1200px;
  margin: 0 auto;
  padding: 85px 200px;
  color: black;
  background-color: white;
}

.history__title {
  margin: 0;
  margin-bottom: 86px;
  font-size: 40px;
  line-height: 47px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  color: black;
}

.history__list {
  margin: 0;
}

.history__item-title {
  float: left;
  margin: 0;
  padding-bottom: 23px;
  font-size: 20px;
  line-height: 27px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  color: black;
}

.history__item-src {
  float: right;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  color: black;
}

.history__item-src a {
  color: #834700;
}

.history__item-desc {
  margin: 0;
}

.history__block:first-of-type {
  margin-bottom: 72px;
}

.history__item-img {
  float: right;
  margin-top: 10px;
  width: 200px;
  height: 101px;
}

.history__item-text {
  width: 495px;
  float: left;
  margin: 0;
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
  font-family: "Arial", sans-serif;
  color: black;
}

/**
 * Press Styles
 */

.press {
  padding: 87px 0;
  color: black;
  background-color: white;
  background-color: #ede5d8;
}

.press__container {
  width: 800px;
  margin: 0 auto;
}

.press__title {
  margin: 0;
  margin-bottom: 81px;
  font-size: 40px;
  line-height: 47px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  color: black;
}

.press__review {
  margin: 0;
  padding-bottom: 62px;
}

.press__text {
  position: relative;
  margin: 0;
  margin-bottom: 34px;
  padding-right: 110px;
  font-size: 16px;
  line-height: 30px;
  font-weight: normal;
  font-family: "Arial", sans-serif;
  color: black;
}

.press__text::before {
  content: "";
  position: absolute;
  width: 43px;
  height: 34px;
  top: 5px;
  left: -108px;
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -5px -152px;
}

.press__name {
  float: right;
  margin: 0;
  margin-top: 14px;
  font-size: 20px;
  line-height: 27px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  color: black;
  font-style: normal;
}

.press__button {
  float: left;
  color: #a5a097;
  box-shadow: inset 0 0 0 2px #a5a097;
}

.press__button:hover {
  color: white;
  box-shadow: none;
  background-color: #a5a097;
}

.press__button:active {
  color: #cccccc;
  box-shadow: inset 0 0 0 2px #a5a097;
}

/**
 * Products Styles
 */

.products {
  padding: 94px 0 89px;
  color: black;
  background-color: white;
}

.products__container {
  width: 800px;
  margin: 0 auto;
}

.products__title {
  margin: 0;
  margin-bottom: 90px;
  font-size: 40px;
  line-height: 47px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  color: black;
}

.products__table {
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: normal;
  color: black;
  border-collapse: collapse;
}

.products__table tr {
  border-bottom: 1px solid #cccccc;
}

.products__table th {
  padding-bottom: 40px;
  font-size: 11px;
  line-height: 15px;
  font-weight: normal;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  text-align: left;
  vertical-align: top;
  color: gray;
}

.products__table th:last-of-type {
  text-align: right;
}

.products__table td {
  padding: 21px 0;
  text-align: left;
}

.products__table td:last-of-type {
  text-align: right;
}

.products__name {
  width: 400px;
  font-weight: bold;
}

.products__alc {
  width: 87px;
}

.products__cal {
  width: 63px;
}

.products__name--new sup {
  padding: 3px 5px;
  margin-left: 20px;
  font-size: 8px;
  line-height: normal;
  font-weight: 400;
  font-family: "Arial", sans-serif;
  color: white;
  background-color: black;
  border-radius: 3px;
}

/**
 * Order Styles
 */

.order {
  padding: 87px 0 104px;
  color: black;
  background-color: white;
  background-color: #ffcb78;
}

.order__container {
  width: 800px;
  margin: 0 auto;
}

.order__title {
  margin: 0;
  margin-bottom: 81px;
  font-size: 40px;
  line-height: 47px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  color: black;
}

.order__desc {
  margin: 0;
  margin-right: 150px;
  margin-bottom: 69px;
  font-size: 16px;
  line-height: 32px;
  font-weight: normal;
  font-family: "Arial", sans-serif;
  color: black;
}

.order__form-group {
  margin-bottom: 10px;
}

.order__form-group--email {
  margin-bottom: 55px;
}

.order__form-group--short {
  float: left;
}

.order__form-group--short-right {
  float: right;
}

.order__form-group--short-right .order__label {
  margin-right: 34px;
}

.order__form-group--select {
  position: relative;
}

.order__form-group--checkbox {
  margin-left: 209px;
  margin-bottom: 24px;
}

.order__form-group--button {
  margin-left: 199px;
}

.order__label {
  float: left;
  margin-top: 15px;
  font-size: 16px;
  line-height: 23px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.order__label--short {
  margin-right: 40px;
}

.order__label--margin {
  margin-left: 55px;
}

.order__label--checkbox {
  position: relative;
  padding: 28px 50px;
}

.order__label--checkbox::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  width: 35px;
  height: 35px;
  transform: translate(0, -50%);
  background-color: #e6b66c;
}

.order__label--checkbox::after {
  content: "";
  position: absolute;
  top: 23px;
  left: 7px;
  z-index: 1;
  width: 20px;
  height: 10px;
  border: 2px solid black;
  border-top-style: none;
  border-right-style: none;
  opacity: 0;
}

.order__input {
  width: 600px;
  float: right;
  padding: 15px 20px;
  font-size: 16px;
  line-height: 23px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #a27d48;
  border: none;
  background-color: #e6b66c;
}

.order__input--short {
  width: 200px;
  padding-right: 0;
  padding-left: 10px;
}

.order__input--select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 15px 20px;
  border-radius: 0;
}

::-moz-placeholder {
  color: #a27d48;
}

::-webkit-input-placeholder {
  color: #a27d48;
}

:-moz-placeholder {
  color: #a27d48;
}

:-ms-input-placeholder {
  color: #a27d48;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

.select-arrow {
  position: absolute;
  right: 15px;
  top: 20px;
  width: 0;
  height: 0;
  border: 10px solid #a27d48;
  border-bottom-width: 0;
  border-top-color: #a27d48;
  border-right-color: transparent;
  border-left-color: transparent;
}

.order__checkbox {
  display: none;
}

.order__checkbox:checked ~ .order__label--checkbox::after {
  opacity: 1;
  transform: rotate(-45deg);
}

.order__button {
  padding: 0;
  width: 195px;
  height: 50px;
  color: white;
  background-color: #834700;
  border: none;
}

.order__button:hover {
  background-color: #6a3900;
}

.order__button:active {
  color: #cccccc;
  background-color: #6a3900;
}

/**
 * Page Footer Styles
 */

.page-footer {
  padding: 60px 0;
  color: white;
  background-color: black;
}

.page-footer__container {
  width: 1020px;
  margin: 0 auto;
}

.page-footer__top {
  padding-left: 38px;
  padding-right: 109px;
}

.page-footer__logo {
  float: left;
}

.main-nav--footer {
  margin-top: 2px;
}

.page-footer__bottom {
  margin: 45px 0;
  margin-bottom: 0;
}

.page-footer__social {
  float: left;
}

.social-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-links__item {
  float: left;
  margin-left: -1px;
}

.social-link {
  position: relative;
  width: 72px;
  height: 70px;
  display: inline-block;
  vertical-align: top;
  background-color: #1b1b1b;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-collapse: collapse;
}

.social-link:hover {
  background-color: #834700;
}

.social-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
}

.social-link--ig::before {
  width: 20px;
  height: 20px;
  background-position: -155px -5px;
}

.social-link--fb {
  background-color: #222222;
}

.social-link--fb::before {
  width: 20px;
  height: 20px;
  background-position: -5px -5px;
}

.social-link--vk::before {
  width: 20px;
  height: 20px;
  background-position: -5px -35px;
}

.page-footer__text {
  float: left;
  width: 200px;
  margin: 0;
  margin-left: 95px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  font-family: "Arial", sans-serif;
  color: #000000;
  color: white;
  color: rgba(255, 255, 255, 0.5);
}

.page-footer__copyright {
  float: right;
}

.copyright {
  float: right;
}

.copyright__link {
  float: left;
  margin-right: 24px;
}

.copyright__link img {
  display: block;
  margin: 0 auto;
  margin-top: 17px;
}

.copyright__desc {
  display: block;
  float: right;
  margin-top: 13px;
  margin-right: 15px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  font-family: "Arial", sans-serif;
  color: #000000;
  font-weight: bold;
  color: white;
  color: rgba(255, 255, 255, 0.5);
  white-space: nowrap;
}
