/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

*, *::before, *::after {
  box-sizing: inherit; }

html {
  position: relative;
  box-sizing: border-box; }

.content-box-component {
  box-sizing: content-box; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

body {
  margin: 0 auto;
  min-width: 1200px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  font-family: "Arial", sans-serif;
  color: #000000; }

img {
  max-width: 100%;
  height: auto; }

.page-container {
  width: 1200px;
  margin: 0 auto; }

.btn {
  font-size: 16px;
  line-height: 23px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 20px;
  border: 1px solid #cccccc;
  cursor: pointer; }

.page-header {
  padding: 70px 200px;
  color: white;
  background: #834700 url("../img/background.jpg") no-repeat center;
  background-size: 100%; }

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.main-logo {
  width: 140px;
  height: 76px; }
  .main-logo img {
    width: 140px;
    height: 76px; }

.promo-slider {
  position: relative;
  margin: 120px auto 350px;
  padding: 0 100px; }

.promo-slider__input {
  position: absolute;
  opacity: 0; }

.promo-slider__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none; }

.promo-slider__item {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden; }

.promo-slider__title {
  margin: 0;
  font-size: 54px;
  line-height: 61px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-align: center;
  color: white;
  text-shadow: 0 0 30px #834700; }

.promo-slider__toggles {
  position: absolute;
  bottom: -200px;
  left: 50%;
  margin: 0 auto;
  margin-top: 65px;
  display: flex;
  justify-content: center;
  transform: translate(-50%); }

.promo-slider__toggle {
  margin: 0 10px;
  width: 7px;
  height: 7px;
  font-size: 0;
  text-align: center;
  color: white;
  background-color: #cccccc;
  background-color: rgba(255, 255, 255, 0.5);
  transition: background-color 0.2s;
  cursor: pointer; }

#promo-input-1:checked ~ .promo-slider__toggles label[for="promo-input-1"],
#promo-input-2:checked ~ .promo-slider__toggles label[for="promo-input-2"],
#promo-input-3:checked ~ .promo-slider__toggles label[for="promo-input-3"] {
  background-color: white; }

.promo-slider__item {
  display: none; }

#promo-input-1:checked ~ .promo-slider__list .promo-slider__item:nth-of-type(1) {
  display: block; }

#promo-input-2:checked ~ .promo-slider__list .promo-slider__item:nth-of-type(2) {
  display: block; }

#promo-input-3:checked ~ .promo-slider__list .promo-slider__item:nth-of-type(3) {
  display: block; }

.main-nav__list {
  margin: 0;
  padding: 20px 0 15px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-color: rgba(255, 255, 255, 0.3); }

.main-nav__item {
  padding-right: 40px;
  font-size: 16px;
  line-height: 23px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none; }
  .main-nav__item:last-of-type {
    padding-right: 0; }

.main-nav__link {
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  color: white;
  cursor: pointer; }
  .main-nav__link span {
    position: relative;
    display: inline-block;
    transition: transform 0.3s; }
    .main-nav__link span::before {
      position: absolute;
      top: 100%;
      content: attr(data-hover);
      color: #ffcb78;
      transform: translate3d(0, 0, 0); }
  .main-nav__link:hover span {
    transform: translateY(-100%); }
  .main-nav__link:active span::before {
    color: rgba(255, 255, 255, 0.5); }

.new-items {
  padding: 90px 200px;
  color: black;
  background-color: white; }

.new-items__title {
  margin: 0;
  margin-bottom: 100px;
  font-size: 40px;
  line-height: 47px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  color: black; }

.items-container {
  display: flex; }

.bottle-item {
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  position: relative;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-collapse: collapse; }
  .bottle-item--left {
    border-right: none; }

.bottle-item__stats {
  width: 40%;
  position: absolute;
  right: 0;
  top: 0; }

.bottle-item__alc,
.bottle-item__cal {
  padding-top: 15px;
  font-size: 16px;
  line-height: 23px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: black; }

.bottle-item__cal {
  padding-bottom: 15px;
  border-bottom: 1px solid #cccccc; }

.bottle-item__ingredients {
  padding-top: 15px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  font-family: "Arial", sans-serif;
  color: #000000; }

.bottle-item__img {
  width: 319px;
  height: 459px; }

.bottle-item__title {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 40px;
  line-height: 47px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  color: black; }

.bottle-item__desc {
  margin: 0;
  padding-bottom: 50px;
  font-size: 16px;
  line-height: 32px;
  font-weight: normal;
  font-family: "Arial", sans-serif;
  color: black; }

.bottle-item__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.bottle-item__btn-more {
  margin-right: 5px;
  color: #834700;
  box-shadow: inset 0 0 0 2px #834700; }
  .bottle-item__btn-more:hover {
    color: white;
    background-color: #552203;
    box-shadow: inset 0 0 0 2px #552203; }
  .bottle-item__btn-more:active {
    color: #cccccc;
    box-shadow: inset 0 0 0 2px #cccccc;
    background-color: white; }

.bottle-item__btn-buy {
  margin-right: 35px;
  color: white;
  background-color: #834700;
  transition: transform 0.3s; }
  .bottle-item__btn-buy:hover {
    color: white;
    background-color: #552203; }
  .bottle-item__btn-buy:active {
    color: #cccccc;
    box-shadow: inset 0 0 0 2px #cccccc;
    background-color: white; }

.bottle-item__price {
  font-size: 16px;
  line-height: 23px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: black; }

.features {
  color: black;
  background-color: #ffcb78; }

.features__list {
  margin: 0;
  padding: 100px;
  display: flex;
  list-style: none; }

.features__item {
  padding: 0 80px;
  padding-top: 80px;
  border-right: 1px solid black;
  border-color: rgba(0, 0, 0, 0.1); }
  .features__item:first-of-type {
    padding-left: 0; }
  .features__item:last-of-type {
    padding-right: 0;
    border-right: none; }

.features__title {
  position: relative;
  margin: 0;
  padding-bottom: 30px;
  font-size: 20px;
  line-height: 27px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  color: black; }
  .features__title::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -100px;
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat; }

.features__title--cook::before {
  width: 52px;
  height: 70px;
  background-position: -35px -5px; }

.features__title--native::before {
  width: 48px;
  height: 67px;
  background-position: -97px -5px; }

.features__title--quality::before {
  width: 65px;
  height: 60px;
  background-position: -97px -82px; }

.features__desc {
  margin: 0;
  font-size: 16px;
  line-height: 32px;
  font-weight: normal;
  font-family: "Arial", sans-serif;
  color: black; }

.history {
  padding: 90px 200px;
  color: black;
  background-color: white; }

.history__title {
  margin: 0;
  padding-bottom: 80px;
  font-size: 40px;
  line-height: 47px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  color: black; }

.history__list {
  margin: 0;
  display: flex;
  flex-direction: column; }

.history__item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }

.history__item-title {
  margin: 0;
  padding-bottom: 30px;
  font-size: 20px;
  line-height: 27px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  color: black; }

.history__item-src {
  font-size: 16px;
  font-family: "Arial", sans-serif;
  color: black; }
  .history__item-src a {
    color: #834700; }

.history__item-desc {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .history__item-desc:first-of-type {
    margin-bottom: 80px; }

.history__item-img {
  margin-left: 120px;
  width: 200px;
  height: 101px; }

.history__item-text {
  margin: 0;
  font-size: 16px;
  line-height: 32px;
  font-weight: normal;
  font-family: "Arial", sans-serif;
  color: black; }

.press {
  padding: 90px 200px;
  color: black;
  background-color: white;
  background-color: #ede5d8; }

.press__title {
  margin: 0;
  padding-bottom: 90px;
  font-size: 40px;
  line-height: 47px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  color: black; }

.press__review {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.press__text {
  position: relative;
  margin: 0;
  margin-bottom: 30px;
  padding-right: 110px;
  font-size: 16px;
  line-height: 32px;
  font-weight: normal;
  font-family: "Arial", sans-serif;
  color: black; }
  .press__text::before {
    content: "";
    position: absolute;
    width: 43px;
    height: 34px;
    top: 10px;
    left: -100px;
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    background-position: -5px -152px; }

.press__name {
  margin: 0;
  align-self: baseline;
  font-size: 20px;
  line-height: 27px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  color: black; }

.press__button {
  align-self: baseline;
  color: #aaa399;
  box-shadow: inset 0 0 0 2px #aaa399; }
  .press__button:hover {
    color: black;
    box-shadow: inset 0 0 0 2px black; }
  .press__button:active {
    color: #cccccc;
    box-shadow: inset 0 0 0 2px #cccccc;
    background-color: white; }

.products {
  padding: 90px 200px;
  color: black;
  background-color: white; }

.products__title {
  margin: 0;
  padding-bottom: 90px;
  font-size: 40px;
  line-height: 47px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  color: black; }

.products__table {
  width: 100%;
  font-size: 16px;
  line-height: 23px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: normal;
  color: black;
  border-collapse: collapse; }
  .products__table tr {
    border-bottom: 1px solid #cccccc; }
  .products__table th {
    padding-bottom: 40px;
    font-size: 8px;
    line-height: 15px;
    font-weight: normal;
    font-family: "Arial", sans-serif;
    text-transform: uppercase;
    text-align: left;
    vertical-align: top;
    color: gray; }
    .products__table th:last-of-type {
      text-align: right; }
  .products__table td {
    padding: 20px 0;
    text-align: left; }
    .products__table td:last-of-type {
      text-align: right; }

.products__name {
  font-weight: bold; }
  .products__name--new sup {
    padding: 3px 5px;
    margin-left: 15px;
    font-size: 8px;
    line-height: normal;
    font-weight: 400;
    font-family: "Arial", sans-serif;
    color: white;
    background-color: black;
    border-radius: 3px; }

.order {
  padding: 90px 200px;
  color: black;
  background-color: white;
  background-color: #ffcb78; }

.order__title {
  margin: 0;
  padding-bottom: 90px;
  font-size: 40px;
  line-height: 47px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  color: black; }

.order__desc {
  margin: 0;
  padding-right: 150px;
  padding-bottom: 50px;
  font-size: 16px;
  line-height: 32px;
  font-weight: normal;
  font-family: "Arial", sans-serif;
  color: black; }

.order__form {
  display: flex;
  flex-direction: column; }

.order__form-group {
  margin-bottom: 10px;
  display: flex;
  align-items: baseline;
  justify-content: space-between; }
  .order__form-group--short {
    display: flex;
    flex-basis: 50%;
    align-items: baseline;
    justify-content: space-between; }
  .order__form-group--select {
    position: relative; }
  .order__form-group--button {
    justify-content: flex-start; }

.order__label {
  flex-basis: 25%;
  font-size: 16px;
  line-height: 23px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  cursor: pointer; }
  .order__label--short {
    flex-basis: 50%; }
  .order__label--margin {
    margin-left: 55px; }
  .order__label--checkbox {
    position: relative;
    flex-basis: 75%;
    padding: 25px 50px; }
    .order__label--checkbox::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 30px;
      height: 30px;
      transform: translate(0, -50%);
      background-color: #e6b66c; }
    .order__label--checkbox::after {
      content: "";
      position: absolute;
      top: 30px;
      left: 5px;
      z-index: 1;
      width: 20px;
      height: 10px;
      border: 2px solid black;
      border-top-style: none;
      border-right-style: none;
      opacity: 0; }

.order__input {
  flex-basis: 75%;
  padding: 15px 20px;
  font-size: 16px;
  line-height: 23px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #a27d48;
  border: none;
  background-color: #e6b66c; }
  .order__input--short {
    flex-basis: 50%;
    padding-right: 0;
    padding-left: 10px; }
  .order__input--select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 15px 20px;
    border-radius: 0; }

::-moz-placeholder {
  color: #a27d48; }

::-webkit-input-placeholder {
  color: #a27d48; }

:-moz-placeholder {
  color: #a27d48; }

:-ms-input-placeholder {
  color: #a27d48; }

:focus::-webkit-input-placeholder {
  color: transparent; }

:focus::-moz-placeholder {
  color: transparent; }

:focus:-moz-placeholder {
  color: transparent; }

:focus:-ms-input-placeholder {
  color: transparent; }

.select-arrow {
  position: absolute;
  right: 15px;
  top: 20px;
  width: 0;
  height: 0;
  border: 10px solid #a27d48;
  border-bottom-width: 0;
  border-top-color: #a27d48;
  border-right-color: transparent;
  border-left-color: transparent; }

.order__checkbox {
  display: none; }

.order__checkbox:checked ~ .order__label--checkbox::after {
  opacity: 1;
  transform: rotate(-45deg); }

.order__button {
  align-self: flex-start;
  color: white;
  background-color: #834700;
  border: none; }
  .order__button:hover {
    color: white;
    background-color: #552203; }
  .order__button:active {
    color: #cccccc;
    box-shadow: inset 0 0 0 2px #cccccc;
    background-color: white; }

.page-footer {
  padding: 70px;
  color: white;
  background-color: black; }

.page-footer__top {
  display: flex;
  justify-content: space-around;
  align-items: center; }

.main-nav--footer .main-nav__list {
  border: none; }

.page-footer__bottom {
  margin: 60px 65px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.social-links {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none; }

.social-link {
  position: relative;
  width: 60px;
  height: 60px;
  display: inline-block;
  vertical-align: top;
  background-color: #1b1b1b; }
  .social-link:hover {
    background-color: #834700; }
  .social-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat; }
  .social-link--ig::before {
    width: 20px;
    height: 20px;
    background-position: -155px -5px; }
  .social-link--fb {
    background-color: #222222; }
    .social-link--fb::before {
      width: 20px;
      height: 20px;
      background-position: -5px -5px; }
  .social-link--vk::before {
    width: 20px;
    height: 20px;
    background-position: -5px -35px; }

.page-footer__copyright {
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .page-footer__copyright p {
    margin: 0;
    margin-left: 70px;
    padding-right: 100px;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    font-family: "Arial", sans-serif;
    color: #000000;
    color: white;
    color: rgba(255, 255, 255, 0.5); }

.copyright {
  margin-left: 70px;
  display: flex;
  align-items: center; }

.copyright__link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; }

.copyright__desc {
  margin-left: 20px;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  font-family: "Arial", sans-serif;
  color: #000000;
  font-weight: bold;
  color: white;
  color: rgba(255, 255, 255, 0.5);
  white-space: nowrap; }
