$main-color-dark: #834700;
$main-color-light: #ffcb78;
$hover-color: #6a3900;
$active-color: rgba(106, 57, 0, 0.3);
$active-color-text: rgba(255, 255, 255, 0.3);
$input-color: #a27d48;
$input-bg: #e5b66c;
$input-hover: #d9ad66;
$font: "Arial", sans-serif;
