*, *::before, *::after {
  box-sizing: inherit;
}

html {
  position: relative;
  box-sizing: border-box;
}

.content-box-component {
  box-sizing: content-box;
}

.visually-hidden {
  position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

body {
  margin: 0 auto;
  min-width: 1200px;
  @include body-text;
}

img {
  max-width: 100%;
  height: auto;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}
