.main-nav__list {
  margin: 0;
  padding: 20px 0 15px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-color: rgba(255, 255, 255, 0.3);
}

.main-nav__item {
  padding-right: 40px;
  @include upper-text;

  &:last-of-type {
    padding-right: 0;
  }
}

.main-nav__link {
  display: inline-block;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  color: white;
  cursor: pointer;

  span {
    position: relative;
    display: inline-block;
    transition: transform 0.3s;

    &::before {
      position: absolute;
      top: 100%;
      content: attr(data-hover);
      color: $main-color-light;
      transform: translate3d(0,0,0);
    }
  }

  &:hover span {
    transform: translateY(-100%);
  }

  &:active span::before {
    color: rgba(255, 255, 255, 0.5);
  }
}
