.page-footer {
  padding: 70px;
  color: white;
  background-color: black;
}

.page-footer__top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-nav--footer {

  .main-nav__list {
    border: none;
  }
}

.page-footer__bottom {
  margin: 60px 65px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-links {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.social-link {
  position: relative;
  width: 60px;
  height: 60px;
  display: inline-block;
  vertical-align: top;
  background-color: #1b1b1b;

  &:hover {
    background-color: $hover-color;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
  }

  &--ig {

    &::before {
      width: 20px;
      height: 20px;
      background-position: -155px -5px;
    }
  }

  &--fb {
    background-color: #222222;

    &::before {
      width: 20px;
      height: 20px;
      background-position: -5px -5px;
    }
  }

  &--vk {

    &::before {
      width: 20px;
      height: 20px;
      background-position: -5px -35px;
    }
  }
}

.page-footer__copyright {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  p {
    margin: 0;
    margin-left: 70px;
    padding-right: 100px;
    @include body-text;
    color: white;
    color: rgba(255, 255, 255, 0.5);
  }
}

.copyright {
  margin-left: 70px;
  display: flex;
  align-items: center;
}

.copyright__link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.copyright__desc {
  margin-left: 20px;
  @include body-text;
  font-weight: bold;
  color: white;
  color: rgba(255, 255, 255, 0.5);
  white-space: nowrap;
}
